3rd
pc_client/x64
learninglive/x64/Debug
.vs
3rd/fdk-aac-2.0.1/fak-aac-win/fdk-aac/fdk-aac.VC.db
3rd/fdk-aac-2.0.1/fak-aac-win/fdk-aac/x64
3rd/fdk-aac-2.0.1/fak-aac-win/fdk-aac/x64/Debug/*.obj
3rd/fdk-aac-2.0.1/fak-aac-win/fdk-aac/.vs
common/x64/Debug
3rd/fdk-aac-2.0.1/fak-aac-win/fdk-aac/x64/Debug/fdk-aac.log
3rd/fdk-aac-2.0.1/fak-aac-win/fdk-aac/x64/Debug/fdk-aac.tlog/*.tlog
3rd/fdk-aac-2.0.1/lib/Debug64/libfdkaac.lib
audacity-master-all.zip
audio/x64
endec/empty.h
endec/x64
learnsvr/x64
pc_client/*.aac
pc_client/*.pcm
test/portaudio_test/x64
rtp_base/x64
qos/x64
webrtc_camera/x64
video/x64
3rd/portaudio-master/.github
3rd/portaudio-master/msvc/x64
3rd/portaudio-master/msvc/x64/Debug
3rd/portaudio-master/msvc/x64/Debug/portaudio.tlog
3rd/portaudio-master/msvc/Win32
bin/*.idb
bin/*.pdb
bin/*.lib
bin/*.pcm
test/webrtc_camera_test/
learninglive/x64/
learninglive/bin/
common/x64/
netrate/x64/
.vscode
bin/webrtc_camera_test.exe
bin