3rd
pc_client/x64
learninglive/x64/Debug
.vs
3rd/fdk-aac-2.0.1/fak-aac-win/fdk-aac/fdk-aac.VC.db
3rd/fdk-aac-2.0.1/fak-aac-win/fdk-aac/x64
3rd/fdk-aac-2.0.1/fak-aac-win/fdk-aac/x64/Debug/*.obj
3rd/fdk-aac-2.0.1/fak-aac-win/fdk-aac/.vs
common/x64/Debug